
/* MEDIA QUERIES */
@media only screen and (max-width: 1000px) {
    /*MEDIA HEADER*/

    header{
        padding: 5px;
        justify-content: center;
        nav{
            width: 100%;
            text-align: center;
            background-color: transparent;
            padding: 5%;
            div{
                padding: 0px 5% 0px 5%;
            }
        }
        a{
            width: 50%;
            padding-left: 5%;
            padding-right: 5%;
        }
        h1{
            text-align: center;
            padding-left: 0%;
        }
        .contenedorContacto{
            padding: 7px 5% 7px 5%;
        }
    }
    /*MEDIA INDEX*/
    .index{
        display: unset;
        .intro{
            width: 90%;
            h2{
                font-size:50px;
            }
            h3{
                font-size: 25px;
            }
        }
        .imagen-home{
            width: 90%;
        }
    }

    /*MEDIA PORFOLIO*/
    .porfolio{
        display: grid;
        grid-template-areas:"pTrabajo"
                            "pFreelance";
        grid-template-columns: auto;
        grid-template-rows: auto;
        margin: 10px ;
        .pTrabajo,.pFreelance{
            display: block;
        }
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        h2,h3{
            text-align: center;
        }
    }

    /* MEDIA FREELANCE*/
    .freelance{
        .withCam{
            margin: 10px;
            .withCam__div1 img{
                width: 44%;
            }
            .withCam__div2{        
                justify-content: center;
                grid-column-gap: 10px;
            }
            .withCam__div2 div {
                width: 100%;
            }    
        }
        .cataBook{
            .cataBook__div{
                width: 100%;
            }    
        }    
    }
    
    /*MEDIA TRABAJOS*/
    .trabajos{
        .pettersen,.flow{
            .pettersen__imgs,.flow__imgs{
                img{
                    width: 70%;
                    margin-left: auto;
                    margin-right: auto;
                    padding: 10px;
                }
            } 
            .pettersen__media{
                div{
                    width: 100%;
                }
            } 
        }    
    }

    /* MEDIA SOBRE MI*/
    .sobreMi {
        img{
            width: 85%;
        }
        p{
            font-size: 24px;
            line-height: 36px;
            margin-left: 9%;
            margin-right: 9%;
        }    
    }
    
    /*MEDIA CONTACTO*/
    .contacto{
        div{
            float: none;
            width:fit-content;
        }
        .formDiv{
            margin-right: auto;
            margin-left: auto;
        }
        .formulario{
            input,textarea{
                width: 250px;
            }    
        }
    }
    /*MEDIA FOOTER*/
    footer{
        display: block;
        bottom: 0;
        text-align: center;
        .informacion{
            text-align: center;
        }
    }
    .footerContacto{
        padding-top: 0px;
    }  


}